
<main>
  <button mat-raised-button class="volver" [routerLink]= "['/Inicio']">
    Volver
</button>
  <section class="informacion">
    <h1>Registro de usuario </h1>
    <br>
    <form class="form" [formGroup]="usuarioForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="nombre" [errorStateMatcher]="matcher">
        <mat-error *ngIf="usuarioForm.controls['nombre'].hasError('required')">
          Nombre es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input type="text" matInput formControlName="apellido" [errorStateMatcher]="matcher">
        <mat-error *ngIf="usuarioForm.controls['apellido'].hasError('required')">
          Apellido es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Cargo</mat-label>
        <input type="text" matInput formControlName="cargo" [errorStateMatcher]="matcher">
        <mat-error *ngIf="usuarioForm.controls['cargo'].hasError('required')">
          Cargo es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contrasena</mat-label>
        <input type="password" matInput formControlName="contrasena" [errorStateMatcher]="matcher">
        <mat-error *ngIf="usuarioForm.controls['contrasena'].hasError('required')">
          Contrasena es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button (click)="onClickCrear()" class="demo-button" [disabled]="!usuarioForm.valid">
        Registrarse
      </button>
    </form>
  </section>
</main>


