<main >
    <section class="informacion">
      <h1>¿Que desea realizar? </h1>
  </section>
    <section class="home" >
   
        <button mat-raised-button class="Cliente" [routerLink]= "['/registro-clientes']">
            Registrar clientes
        </button>
  
        <button mat-raised-button class="Producto" [routerLink]= "['/producto']">
          Registrar Productos
         </button>

         <button mat-raised-button class="Driver" [routerLink]= "['/driver']">
          Registrar Drivers
         </button>

         <button mat-raised-button class="Modulo" [routerLink]= "['/modulo']">
          Registrar Modulos
         </button>
    </section>
  </main>
